<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/SvcAdmin" version="1.0.0" viewmodes="maximized">
    <tizen:application id="1SO523Ydrz.SvcAdmin" package="1SO523Ydrz" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>SvcAdmin</name>
    <tizen:profile name="wearable"/>
</widget>
